<%- include('../../partials/header.ejs'); %>
<%- include('../../partials/navbar.ejs'); %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Editar Artigo</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/admin/articles/update">
                <input type="hidden" name="id" value="<%= article.id %>"/>
                <label for="title">Titulo do Artigo</label>
                <input type="text" name="title" class="form-control"
                    placeholder="Defina o titulo do Artigo"
                    value="<%= article.title %>"/>
                <br>
                <label for="category">Categoria</label>
                <select name="category" class="form-control">
                <% categories.forEach((category) => { %>
                    <% if (category.id === article.categoryId) { %>
                        <option value="<%= category.id %>" selected><%= category.title %></option>
                    <% } else { %>
                        <option value="<%= category.id %>"><%= category.title %></option>
                    <% } %>
                <% }) %>
                </select>
                <br>
                <label for="body">Corpo do Artigo</label>
                <textarea id="article" class="form-control" placeholder="Corpo do Artigo" 
                    name="body"></textarea>
                <br>
                <button class="btn btn-success">Editar</button>
            </form>
        </div>
    </div>
</div>
<div id="content-body" style="display: none">
    <%- article.body %>
</div>
<script src="/tinymce/tinymce.min.js"></script>
<script>
tinymce.init({
    language: 'pt_BR',
    selector: 'textarea#article',
    // selector: 'textarea#drive-demo',
    //plugins: 'image media link tinydrive code imagetools',
    //height: 600,
    // toolbar: 'insertfile image link | code',
    //,
    plugins: 'advlist, autolink link image lists print preview hr searchreplace wordcaount fullscreen insertdatetime media savve table paste emoticos',
    // ]
    init_instance_callback: () => {
        tinymce.get('article').setContent($('#content-body').html())
    }
});
    
</script>
<%- include('../../partials/footer.ejs'); %>