<%- include('partials/header.ejs'); %>
<%- include('partials/homenavbar.ejs'); %>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Bem vindo!</h1>
        <p class="lead">Este é um simples blog desenvolvido com Nodejs, Express, EJS e MySQL.</p>
        <hr class="my-4">
        <p>Uma breve descricao sobre esse blog.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
    <hr>
<% articles.forEach(article => { %>
    <div class="card">
        <div class="card-header">
            <h2><%= article.title %></h2>
        </div>
        <div class="card-body">
            <a href="/<%= article.slug %>" class="btn btn-success">Ler Artigo</a>
        </div>
        <br>
    </div>
<% }) %>
    <div class="row">
        <div class="col col-12">
            <a style="float: right" href="/articles/page/2">Next >>></a>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs'); %>

